.card_div {
  margin: 0 10px 10px 0;
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.card_div:hover {
  background: rgba(235, 246, 255, 0.2);
  margin: 0 0 10px;
}

.games_text {
  color: #c6d4df;
}
