.container_card {
  width: 75%;
  margin: auto;
}

.product_card {
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}

.product_img {
  width: 100%;
  border: 2px solid black;
  border-radius: 9px;
}

.product_price {
  color: white;
}

.product_card_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  margin: auto;
}
