input:hover {
  background-image: none;
  border: 1px solid #4c9acc;
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0);
}
input::placeholder {
  color: #0e1c25;
}
input::placeholder {
  color: #0e1c25;
}

input {
  background-image: none;
  background-color: #316282;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
  color: #fff;
  margin-bottom: 0px;
  outline: none;
  height: 24px;
  padding: 0px 6px;
}
